perl/Manifest/Detail/manifest.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="manifest" type="ManifestType"/>

    <xsd:complexType name="ManifestType">
        <xsd:sequence>
            <xsd:element name="file" type="FileType"
                minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="FileType">
        <xsd:attribute name="tag" type="xsd:string" use="required"/>
        <xsd:attribute name="path" type="xsd:string" use="required"/>
        <xsd:attribute name="kilobytes" type="xsd:integer" use="required"/>
    </xsd:complexType>

</xsd:schema>
